$icomoon-font-path: "fonts" !default;

$icon-apple: "\e900";
$icon-arrow-right: "\e901";
$icon-facebook: "\e902";
$icon-google: "\e903";
$icon-linkedin: "\e904";
$icon-menu: "\e905";
$icon-next: "\e906";
$icon-pinterest: "\e907";
$icon-play: "\e908";
$icon-prev: "\e909";
$icon-star: "\e90a";
$icon-tumbler: "\e90b";
$icon-twitter: "\e90c";

